@import url('https://fonts.googleapis.com/css2?family=Marhey:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    display: flex;
    justify-content: center;  
    align-items: center;     
    height: 400px;
    background-image: url('../img/balaton_bg.jpg');
    background-size: cover;       
    background-position: center;  
    background-repeat: no-repeat; 
}



#navbar-bg{
    background-color: #06435f;
}

.navbar .nav-link:active {
    background-color: #1283b9;
    opacity: 0.8;
    border-radius: 4px;
    padding: 6px 12px;
    color: white;
}



div h2 {
    font-family: 'Marhey', sans-serif;
    color: #1283b9;
    font-variant: small-caps;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: #1c88c7;  
    text-underline-offset: 6px;
}


header h1 {
    font-family: 'Marhey', sans-serif;
    font-size: 3rem;                /* 3x alapméret */
    text-transform: uppercase;
    letter-spacing: 3px;
    text-shadow: 5px 5px 10px black;
    color: white;
}

table thead {
    font-family: 'Marhey', sans-serif;
}





@media (min-width: 992px) {
    h1 {
        font-size: 1.5rem;
    }
}
